<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu E-commerce sous le menu racine Quelyos -->
    <menuitem id="menu_ecommerce_root"
              name="E-commerce"
              parent="quelyos_core.menu_quelyos_root"
              sequence="10"/>

    <!-- Catalogue -->
    <menuitem id="menu_ecommerce_catalog"
              name="Catalogue"
              parent="menu_ecommerce_root"
              sequence="10"/>

    <menuitem id="menu_ecommerce_products"
              name="Produits"
              parent="menu_ecommerce_catalog"
              action="quelyos_ecommerce.action_product_ecommerce"
              sequence="10"/>

    <menuitem id="menu_ecommerce_categories"
              name="Catégories"
              parent="menu_ecommerce_catalog"
              action="product.product_category_action_form"
              sequence="20"/>

    <!-- Commandes -->
    <menuitem id="menu_ecommerce_orders"
              name="Commandes"
              parent="menu_ecommerce_root"
              sequence="20"/>

    <menuitem id="menu_ecommerce_all_orders"
              name="Toutes les Commandes"
              parent="menu_ecommerce_orders"
              action="quelyos_ecommerce.action_ecommerce_orders"
              sequence="10"/>

    <menuitem id="menu_abandoned_carts"
              name="Paniers Abandonnés"
              parent="menu_ecommerce_orders"
              action="quelyos_ecommerce.action_abandoned_carts"
              sequence="20"/>

    <!-- Configuration E-commerce sous Configuration Quelyos -->
    <menuitem id="menu_ecommerce_config"
              name="E-commerce"
              parent="quelyos_core.menu_quelyos_config"
              action="quelyos_ecommerce.action_ecommerce_config"
              sequence="20"/>
</odoo>
